{% extends "auctions/layout.html" %}
{% block body%}
<div>
    Title: {{auction.title}} <br>
    Description: {{auction.description}} <br>
    Bid: {{auction.starting_bid}}
</div>
    
    {% if user.is_authenticated %}
    <form action="{% url 'listing' auction.id%}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" name="bid" value="Place Bid">
    </form>
    <form action="{% url 'listing' auction.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="watchlist">{{ submit }}</button>
    </form>
            {{message}}
    {% endif %}
{% endblock %}