{% extends "auctions/layout.html" %}
{% block body%}
<div>
    Title: {{auction.title}} <br>
    Description: {{auction.description}} <br>
    Bid: {{auction.starting_bid}}
</div>
    
    {% if user.is_authenticated %}
    <form action="{% url 'listing' auction.id%}" method="POST">
        {% csrf_token %}
        <input type="number" name="" id="">
        <input type="submit" name="bid" value="Place Bid">
        <input type="submit" name="watchlist" value="{{submit}}">

    </form
    {% endif %}
{% endblock %}